<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/landingpage/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-title>Welcome {{ data[0] }} !</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col><h3><u>Personal Info</u></h3></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>Unique ID: </b>{{ data[13] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>Name: </b>{{ data[0] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>Age: </b>{{ data[1] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>Contact number: </b>{{ data[2] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>Email Address: </b>{{ data[3] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>Last donated on : </b>{{ data[5] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>Ailments :</b> 
        <ul>
          <li *ngFor="let disease of data[6]">
            {{ disease }}
          </li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>Blood Group : </b>{{ data[7] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>Home Address : </b>{{ data[8] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>Office Addres : </b>{{ data[9] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button color="danger" (click)="edit()">Edit details</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
